.paginationDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    margin-top: 104px;
}
.paginationButtons{
    width: fit-content;
    color: rgb(22, 138, 121);
    padding: 9px 16px;
    border: none;
    font-size: 20px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
.paginationButtons:hover{
    background-color: rgb(126 177 169);
     color:white;
}
.activeClass{
    width: fit-content;
    background-color: rgb(22, 138, 121);
    color:white;
    padding: 9px 16px;
    border: none;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;

}

/* .backArrow{

}
.forwardArrow{

} */
